
/* Star header */
	header{
		min-height: 600px;
		background: url(img/bg3Bn.jpg) no-repeat;
	}

	#headerLogo{
		width: 250px;
		height: 277px;
		background: url(img/logoDdobbleSm.png) no-repeat;
	}


/* End header */

/* */
/* */
/* */
/* */
/* */
/* */
/* */